version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: acme_db
      POSTGRES_USER: acme_user
      POSTGRES_PASSWORD: acme_password
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
